@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 10px;
}

:root[class~="light"] {
  filter: invert(100%);
}

.invisible-scroll{
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}